.main-world{
text-align: center;
}

body
{
	width: 100%;
	height: 100%;
	font-family: "Droid Sans";
	font-weight: 700;
	color: goldenrod;
	background-color: #000;
	overflow: hidden;
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -10%; }
}

#text
{
	position: absolute;
	width: 20em;
	height: 45em;
	bottom: 0;
	left: 50%;
	margin-left: -10em;
	font-size: 500%;
	font-weight: bold;
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(100px) rotateX(2deg);
	
}

#text:after
{
	position: absolute;
	content: '';
	bottom: 70%;
}

#text-runer
{
	position: absolute;
	top: 100%;
	animation: scroll 15s linear infinite ;

}
